<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
              Heroicon name: outline/bars-3
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
              Heroicon name: outline/x-mark
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">

              <a routerLink="/" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Dashboard</a>

  
                
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          
  
          <!-- Profile dropdown -->
          <div class="relative ml-3">
            <div>
              <button type="button" class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              </button>
            </div>
              </div>
          </div>
        </div>
      </div>
  </nav>

  <div class="container mx-auto">
    <div class="my-8 max-w-md mx-auto">

      <div class="flex">

        <input type="text" class="form-input" placeholder="Description" [(ngModel)]="text">
        <button (click)="announce()" class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Announce to everyone
        </button>

      </div>

    </div>

    <div class="overflow-hidden bg-white shadow sm:rounded-lg my-8 max-w-lg mx-auto" *ngFor="let item of classifieds">
        <div class="px-4 py-5 sm:px-6 " style="position: relative">

          
            <h3 class="text-lg font-medium leading-6 text-gray-900">{{ item.title }}</h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">{{ item.description }}</p>
            <p class="mt-1 max-w-2xl text-xs text-gray-400">created by <b>{{ item.createdBy.firstName }} {{ item.createdBy.lastName }}</b> on <b>{{ item.createdAt | date }}</b></p>
            
            <div  *ngIf="item.accepting==false" (click)="allowClassified(item.id)" class="absolute bottom-0 right-0  text-xs text-gray-400 cursor-pointer">
              Accept
            </div>
            <div (click)="deleteClassified(item.id)" class="absolute top-0 right-0  text-xs text-gray-400 cursor-pointer">
                Delete
            </div>

        </div>
  </div>
</div>



<!-- // chat icon -->






<div (click)="toggleChatBox()" class="fixed bottom-0 right-0 mb-4 mr-4">
  <a  target="_blank">
    <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png"/>
  </a>
</div>


<div *ngIf="showChatBox" class="chatbox">
  <div class="chatbox-header">
  
    <button (click)="toggleChatBox()"> 
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>


  </div>
  <div class="chatbox-content">
    <div *ngFor="let message of messages" class="chatbox-content-message">
      <div class="chatbox-content-message-text">
        <small>{{message.name}}</small> - {{message.text}}
        <br>
      </div>
    </div>
  </div>
  <div class="chatbox-footer">
    <!-- askadmin input field -->

    <div class="flex flex-row justify-center" >
      <input type="text" class="form-control" placeholder="Type a message" [(ngModel)]="message" (keyup.enter)="askAdmin(message)">
      <button class="btn btn-primary p-4" (click)="askAdmin(message)">Send</button>

  </div>

</div>

<style>

  .chatbox {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .chatbox-header {
    height: 50px;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .chatbox-content {
    height: 300px;
    background: khaki;
    overflow-y: scroll;
  }

  .chatbox-content-message {
    padding: 10px;
    background: #ccc;
    margin: 10px;
  }

  .chatbox-content-message-text {
    font-size: 14px;
  }

  .chatbox-footer {
    height: 50px;
    background-color: #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }





</style>